#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  width: 50%;
  padding: 2rem;
  margin: auto;
  /* border: 2px solid white; */
  background-color: #1e1b20;
  border-radius: 15px;
}